parameters:
  level: 8
  paths:
    - public
  fileExtensions:
    - php

  checkMissingIterableValueType: false

  excludePaths:
    - vendor/*

  reportUnmatchedIgnoredErrors: false
  reportMaybesInPropertyPhpDocTypes: false

  ignoreErrors:
   - '#Undefined variable: \$this#'
   - '#Cannot access offset [\S]+ on array#'
